.topic {
  width: calc(100% - 14px);
  border: 1px solid var(--dark-green);
  list-style-type: none;
  padding: 5px;
}

.topic__item {
  width: calc(100% - 10px);
  height: 70px;
  margin: 15px 0;
  padding: 5px;
  background-color: var(--dark-green);
  cursor: pointer;
}

.topic__name {
  color: var(--white-green);
}