<%- include('includes/head.ejs') %> 
<link rel="stylesheet" href="./css/form.css">
<link rel="stylesheet" href="./css/topic.css">
</head>
<body>
  <%- include('includes/navigation.ejs') %> 
  <h2>Forum engine</h2>

  <div class="button" id="add-btn">+</div>
  <ul class="topic">
    <% topics.forEach(topic => { %> 
      <li class="topic__item">
        <h2 class="topic__name"><%= topic.topic_name %></h2>
      </li>
    <% }) %> 
  </ul>
  <div class="modal" id="add-topic">
    <form action="/add-topic" method="POST">
      <div>
        <label for="topicName">Topic name</label>
        <input type="text" name="topicName">
        <div style="width: 100%; display: flex; justify-content: space-between; margin-top: 10px;">
          <div class="button" style="position: relative;">
            Add topic
            <button
              type="submit"
              style="width: 100%; height: 100%; opacity: 0; position: absolute; top: 0; left: 0; z-index: 1;"
            ></button>
          </div>
          <div class="button" id="cancel-btn">Cancel</div>
        </div>
      </div>
    </form>
  </div>

  <script>
    const addTopic = document.querySelector("#add-topic")
    const addBtn = document.querySelector('#add-btn')
    const cancelBtn = document.querySelector('#cancel-btn')

    cancelBtn.addEventListener('click', e => {
      addTopic.style.display = 'none'
    })

    addBtn.addEventListener('click', e => {
      addTopic.style.display = 'flex'
    })
  </script>
</body>
</html>