<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="./css/main.css">

  <title>Forum engine</title>
</head>
<body>
  <h2>Forum engine</h2>
  <ul>
    <% films.forEach(film => { %> 
      <li>
        <p><strong><%= film.title %></strong></p>
        <p><%= film.release_year %> </p>
      </li>
    <% }) %>
  </ul>
</body>
</html>